version: '3.8'

services:
  jenkins:
    build: .
    container_name: jenkins
    ports:
      - "8888:8080"
      - "50700:50000"
    volumes:
      - jenkins_home:/var/jenkins_home

volumes:
  jenkins_home: